
body {
  margin: 0;
}
header {
  background: url("pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding: 0;
  margin: 0;
  animation-name: achtergrond;
  animation-duration: 20s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: lineair;
}
@keyframes achtergrond {
	0% {
	  background: url("pizza.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	}
	25% {
	  background: url("pizza3.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	}
	50% {
	  background: url("pizza4.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	}
	75% {
	  background: url("pizza5.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	  }
	100% {
	  background: url("pizza6.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	  }
}
.logo {
  height: 40%;
  margin-top: 40px;
}
.titel {
  margin-top: 0;
  margin-left: 30px;
  color: rgb(15,120,15);
  text-shadow: 2px 2px #FF0000;
  }
 .homepagina {
 max-width: 45%;
 margin-left: 40px;
 margin-right: 0;
 }
 .homepagina2 {
 line-height: 25px;
 margin-right: 0;
 }
 .homepagina3 {
   float:right;
   margin: 0;
 }
 .pizzainoven {
   border-radius: 25px;
   margin: 10px 30px 20px 30px;
   float: right;
 }
 .einde {
 height: 100px;
 margin: 0;
 padding: 10px;
   text-align: center;
 }
 .titel-einde {
  margin-top: 0;
  font-size: 20px;
  color: rgb(15,120,15);
  text-shadow: 2px 2px #FF0000;

 }
 .text-einde {
  margin:0;
 }
.balk {
  background-color: rgb(0,0,0);
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 27px;
}
li a {
  width: 60px;
  color: rgb(255,255,255);
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  color: rgb(160,160,160);
}
li a.active {
  background-color: rgb(15,120,15);
}
li {
  display: inline;
}
table {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
table, th, td {
  border: 1px solid red;
  border-collapse: collapse;
}
.mapkaart {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 20px;
}
.bookmark {
list-style-type: none;
max-width: 40%;
margin-left: auto;
margin-right: auto;
border: 1px solid black;
border-radius: 20px;
height: 40px;
}
.menulijst-1, .menulijst-2, .menulijst-3 {
   list-style-type: none;
   max-width: 60%;
   color: black;
   }
.menulijst-1 {
float: left;
}
.menulijst-2 {
float: left;
padding-left: 25%;
}
.menulijst-3 {
float: right;
}
.menukop {
   margin-left:30px;
  }
.ingredient {
  font-style: italic;
  color: #4a4a4a;
  margin: 2px 0 6px 30px;
  }
 .pizzatype {
  margin-left: 30px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.1em;
  }
 .price {
 margin-right: 30px;
 float: right;
 font-size: 0.9em;
 }
 .menulijst:hover {
  color: rgb(100,100,100);
  }
 .drink {
 margin-left: 10px;
 }
 .vacaturestext {
 max-width: 50%;
 margin-left: 30px;
 padding-bottom: 210px;
 }
 .vacaturesplaatje {
 margin: 20px 120px 30px 20px;
 height: 300px;
 float: right;
 border-radius: 35px;
 }
.werkenkeuken{
float:left;
background:Red;
width:20%;
height:100px;
margin-left: 10%;
margin-bottom: 20px;
border-radius: 25px;
text-align: center;
position: relative;
display: inline-block;
}
.werkenkeukenopties {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 100px 16px;
  margin-bottom: 20px;
}
.werkenkeuken:hover .werkenkeukenopties {
  display: block;
}
.werkenrestaurant{
float:left;
background:red;
width:20%;
height:100px;
margin-left: 10%;
margin-bottom: 20px;
border-radius: 25px;
text-align: center;
}
.werkenrestaurantopties {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 100px 16px;
  margin-right: 40%;
  margin-bottom: 20px;
}
.werkenrestaurant:hover .werkenrestaurantopties {
  display: block;
}
.werkenkantoor{
float:right;
background:red;
width:20%;
height:100px;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 20px;
border-radius: 25px;
text-align: center;
}
.werkenkantooropties {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 100px 16px;
  margin-bottom: 20px;
}
.werkenkantoor:hover .werkenkantooropties {
  display: block;
}
.openingstijden {
margin-left: 30px;
}
.openingsdagen {
margin-left: 30px;
margin-right: 0;
}
.openingstijd2 {
  text-align: right;
  margin-right: 20%;
}
.openingstijden3 {
  max-width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 20px 30px 20px 30px;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(200,0,0);
  font-weight: bold;
}
.openingstijden5 {
margin-bottom: 20px;
}
.draaiendepizza {
  float: right;
  margin: 10px 35px 0 0;
}
.draaiendepizzaafbeelding {
  width: 100px;
  height: 100px;
  transition: width 10s, height 10s, transform 10s;
}

.draaiendepizzaafbeelding:hover {
  width: 160px;
  height: 160px;
  transform: rotate(800deg);
}
