
body {
  margin: 0;
}
header {
  background: url("pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: sticky;
  padding: 0;
  margin: 0;
  animation-name: achtergrond;
  animation-duration: 20s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes achtergrond {
	0% {
	  background: url("pizza.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	}
	25% {
	  background: url("pizza3.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	}
	50% {
	  background: url("pizza4.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	}
	75% {
	  background: url("pizza5.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	  }
	100% {
	  background: url("pizza6.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	  }
}
.logo {
  width: 500px;
  height: 500px;
  float: left;
  bottom: 0;
  margin: 0;
}
ul {
  background-color: rgba(100,100,100,0.2);
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  height: 26px;
}
li a {
  width: 60px;
  color: rgb(255,0,0);
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  color: white;
}
li a.active {
  background-color: rgba(100,100,100,0.6);
}
li {
  display: inline;
}
table {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
table, th, td {
  border: 1px solid red;
  border-collapse: collapse;
}
map area {
background-color: rgb(255,0,0)
}
